body {
    background-color: #d4bda7;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
    text-align: center;
}

#envelopes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

button {
    cursor: pointer;
}

.hidden {
    display: none;
}

/*************** style rules for starting screen (before clicking the envelope) ***************/
@keyframes idleShake {
    0%  { transform: rotate(0deg); }
    25% { transform: rotate(-10deg); }
    50% { transform: rotate(10deg); }
    75% { transform: rotate(-10deg); }
    100% { transform: rotate(0deg); }
}

#closed-envelope {
    background: none;
    border: none;
    animation: idleShake 1s infinite;
}

@keyframes openEnvelope {
    0% { transform: scale(0.8); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1.0); }
}

#opened-envelope {
    animation: openEnvelope 1s;
}

.hide {
    opacity: 0;
    transition: opacity 0.5s ease;
}

/*************** style rules for main info screen (after clicking the envelope) ***************/

@keyframes zoomOutFromCenter {
    0% { transform: scale(0);
         opacity: 0; }
    100% { transform: scale(1);
         opacity: 1; }
}

#pop-out-from-envelope {
    animation: zoomOutFromCenter 2s;
}

@keyframes stoopGraphicAnimation {
    0%, 100% { background-image: url('images/stoop1.png') }
    50% { background-image: url('images/stoop2.png') }
}

#stoop-graphic {
    width: 500px;
    height: 500px;
    animation: stoopGraphicAnimation 3s infinite;
}