body {
    background-image: url('images/paper-bg.jpg');
    background-repeat: repeat;
    background-size: auto;
    background-color: #d4bda7;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
    text-align: center;
    width: 100%; 
    max-width: 100%;
}

@media (max-width: 768px) {
    .your-element {
        width: 100%; /* Adjust width for smaller screens */
        max-width: 100%; /* Ensure it doesn't exceed the screen width */
    }
}

p {
    font-family: Awelier, serif;
    font-size: 25px;
}

h1 {
    font-family: Golden-State-Bold, serif;
    font-size: 70px;
}

h2 {
    font-family: Golden-State, serif;
    font-size: 40px;
    margin: 0;
    padding: 0;
}

h3 {
    font-family: Quaylike, serif;
    font-size: 25px;
    margin: 1;
    padding: 1;
}

iframe {
    width: 75%;
    height: 25%
}


#envelopes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

button {
    cursor: pointer;
}

.hidden {
    display: none;
}

/*************** style rule for custom fonts (via dafont.com) ***************/

@font-face {
    font-family: 'Golden-State';
    src: url('fonts/GoldenStateSerifPERSONAL-Italic.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Quaylike';
    src: url('fonts/Quaylike.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Golden-State-Bold';
    src: url('fonts/GoldenStateSerifPERSONAL-BoldItalic.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Awelier';
    src: url('fonts/MADEAwelierPERSONALUSE-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

/*************** style rules for starting screen (before clicking the envelope) ***************/

#click-me {
    position: absolute;
    top: 60%;
}

@keyframes idleShake {
    0%  { transform: rotate(0deg); }
    25% { transform: rotate(-10deg); }
    50% { transform: rotate(10deg); }
    75% { transform: rotate(-10deg); }
    100% { transform: rotate(0deg); }
}

#closed-envelope {
    background: none;
    border: none;
    animation: idleShake 1s infinite;
    position: relative;
}

@keyframes openEnvelope {
    0% { transform: scale(0.8); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1.0); }
}

#opened-envelope {
    animation: openEnvelope 1s;
}

.hide {
    opacity: 0;
    transition: opacity 0.5s ease;
}

/*************** style rules for main info screen (after clicking the envelope) ***************/

#help-button {
    border-radius: 25px;
    border: 2px black solid;
    background: white;
}

#help-window {
    width: 400px;
    height: 30px;
    background-color: white;
    border: 3px black solid;
    position: absolute;
    font-size: 20px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    padding: 0px;
    height: auto;
}

@keyframes zoomOutFromCenter {
    0% { transform: scale(0);
         opacity: 0; }
    100% { transform: scale(1);
         opacity: 1; }
}

#pop-out-from-envelope {
    animation: zoomOutFromCenter 2s;
    position: relative;
}

#pop-out-from-envelope h3,
#pop-out-from-envelope h2,
#pop-out-from-envelope h1 {
    margin: -1; 
    padding: -1;
}

@keyframes stoopGraphicAnimation {
    0%, 100% { background-image: url('images/stoop1.png') }
    50% { background-image: url('images/stoop2.png') }
}

#stoop-graphic {
    width: 500px;
    height: 500px;
    animation: stoopGraphicAnimation 3s steps(1,end) infinite;
}

/*************** style rules for social media buttons ***************/

#sharelink {
    border: none;
    background: none;
}

#share-button-alert {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

